@model CertData

<div class="form-grp">
    <div>
        <label>Datei</label>
        <div>@Model.FileName</div>
    </div>

    <div>
        <label>Issuer</label>
        <div>@Model.Issuer</div>
    </div>

    <div>
        <label>Subject</label>
        <div>@Model.Subject</div>
    </div>

    <div>
        <label>Gültigkeitszeitraum</label>
        <div>@Model.ValidTimeRange</div>
    </div>
</div>
