@using TRuDI.Backend.Application
@inject ApplicationState StateService
@{
    ViewData["Title"] = "Abrechnungsdaten";
}

<div class="panel panel-primary">
    <div class="panel-heading">Zählpunkt</div>
    <div class="panel-body">
    </div>
</div>


<a asp-action="DownloadXml">XML-Datei speichern</a>